// Colors
$blue: #28597C;
$green: #2A936E;
$black: #000000;
$white: #ffffff;

// Fonts
$font-header: "Abril Fatface", serif;
$font-body: "Lato", sans-serif;

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $blue;
  background-color: rgba($color: $blue, $alpha: 0.90);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: $white;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

.slider {
    background-image: url('/images/header-1.webp');
    background-color: $blue;
    background-size: cover;
    background-position: top left;
    animation: slide 20s 5s infinite linear(0 0%, 1.33 15.13%);
}

@keyframes slide {
    // 0%{background-image: url('/images/header-1.webp');}
    25%{background-image: url('/images/header-2.webp');}
    50%{background-image: url('/images/header-4.webp');}
    75%{background-image: url('/images/header-5.webp');}
    100%{background-image: url('/images/header-1.webp');}
}


// Primary Navigation
.primary-nav {
    color: $white;
    font-size: 18px;
    padding: 20px 0;
    ul {
        text-decoration: none;
        list-style: none;
        font-size: 18px;
    }
    li {
        padding: 20px;
        margin: 0;
        font-size: 18px;
        a {
            color: $white;
            text-decoration: none;
        }
    }
    .list-menu {
        display: flex;
        font-size: 18px;
        padding: 0;
        margin: 0;
    }
    .dropdown {
        position: relative;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        padding: 0;
        border-radius: 6px;
        margin: 20px 0 0 0;
        flex-direction: column;
        background: $white;
        color: $black;
        box-shadow: 0 15px 25px rgba($color: #000000, $alpha: .25);
        a {
            color: $black;
            text-decoration: none;
            padding: 10px;
            margin: 0;
            &:hover {
                background: #F4F2F0;
                border-radius: 6px;
            }
        }
    }
    .dropdown:hover .dropdown-content {
        display: flex;
        flex-direction: column;
    }
    .active {
        border-bottom: 2px solid $white;
        padding-bottom: 5px;
    }
}


body {
    font-family: $font-body;
    font-size: 20px;
    color: $black;
    padding: 0;
    margin: 0;
    h1 {
        font-family: $font-header;
        color: $blue;
    }
    h2 {
        font-size: 36px;
        font-family: $font-header;
        color: $blue;
    }
    h3 {
        font-family: $font-header;
        color: $blue;
    }
}

.container {
    display: flex;
    flex-direction: column;
    width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

#navbar {
  display:flex;
  background-color: rgba($color: $blue, $alpha: .95);
  position: fixed;
  top: -200px;
  width: 100%;
  display: block;
  z-index: 1;
  transition: top ease-out 0.5s;
    .main-logo {
      width: 200px;
      img {
          width: 100%;
      }
  }
  .menu-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main-btn {
    padding: 0;
    margin: 0;
    a {
      background: $green;
      padding: 20px 25px;
      color: $white;
      text-decoration: none;
      border-radius: 6px;
      box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: .16);
      &:hover {
        background: darken($green, 15%);
        }
      }
    }
}

header {
    display: flex;
    .main-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 25px 0;
        margin: 0;
        .main-logo {
            width: 200px;
            img {
                width: 100%;
            }
        }
        .main-btn {
            padding: 0;
            margin: 0;
            a {
                background: $green;
                padding: 20px 25px;
                color: $white;
                text-decoration: none;
                border-radius: 6px;
                box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: .16);
                &:hover {
                    background: darken($green, 15%);
                }
            }
        }
    }
    .showcase-content {
        padding: 100px 0 150px 0;
        margin: 0;
        h1 {
            font-size: 100px;
            color: $white;
            font-weight: 400;
            padding: 0 0 20px 0;
            margin: 0;
        }
        p {
            color: $white;
            font-size: 34px;
            padding: 20px 0;
            margin: 0;
        }
        .padding-bottom {
            padding-bottom: 70px;
        }
        a {
            background: $green;
            color: $white;
            text-decoration: none;
            border-radius: 6px;
            box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: .16);
            margin: 0;
            padding: 20px 100px;
            &:hover {
                background: darken($green, 15%);
            }
        }
        .showcase-border {
            border-left: 5px solid $white;
            ul {
                padding: 0 0 0 50px;
                margin: 0;
                font-size: 34px;
                color: $white;
            }
        }
    }
}

.main-content {
    display: flex;
    background: url('/images/main-bg.jpg');
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    padding: 100px 0;
    margin: 0;
    .congratulations {
        max-width: 800px;
        padding-bottom: 100px;
        margin: 0 auto;
        h2 {
            font-size: 56px;
            text-align: center;
            padding-bottom: 30px;
            margin: 0;
        }
        h4 {
            font-size: 30px;
            font-weight: 400;
            text-align: center;
            color: $black;
        }
    }
    .trip-inclusions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0 50px 0;
        margin: 0;
        .trip-img {
          width: 50%;
          img {
              padding-right: 20px;
              width: 100%;
          }
        }
        .trip-content {
            width: 48%;
            h3 {
                font-size: 28px;
                padding-left: 20px;
                margin: 0;
                border-left: 5px solid $green;
            }
            ul {
                font-size: 20px;
                padding: 0 0 0 55px;
                margin: 0;
                li {
                    padding: 5px 0;
                    margin: 0;
                }
            }
        }
    }
    .hotel {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 0 0 0;
        margin: 0;
        .hotel-img {
          width: 50%;
          img {
              padding-left: 40px;
              width: 100%;
          }
        }
        .hotel-content {
          width: 50%;
        }
        .hotel-box1 {
            background: $white;
            border: 5px solid $blue;
            padding: 30px;
            margin: 0 0 25px 0;
            .title {
                font-family: $font-header;
                color: $blue;
                font-size: 24px;
                padding-bottom: 20px;
                margin: 0;
            }
            .box-content {
                font-size: 20px;
                padding: 0;
                margin: 0;
            }
            span {
                color: $green;
                a {
                    color: $green;
                }
            }
        }
        .hotel-box2 {
            background: $white;
            border: 5px solid $blue;
            padding: 30px;
            margin: 0 0 25px 0;
        }
    }
}

// Countdown Timer
.countdown-timer {
  display: flex;
}
#headline {
    font-family: $font-header;
    font-weight: 700;
    font-size: 56px;
    color: $blue;
    text-align: center;
    margin: 0;
    padding: 50px 0;
}

#countdown ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 70px 0;
  margin: 0;
}

#countdown li {
  display: inline-block;
  font-family: $font-body;
  text-align: center;
  font-size: 30px;
  list-style-type: none;
  padding: 0 30px;
  margin: 0;
}

#countdown li span {
  display: block;
  font-size: 100px;
  font-family: $font-header;
  color: $green;
}

#countdown .divider {
    display: block;
    font-size: 100px;
    font-family: $font-header;
    color: $green;
}

.emoji ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 70px 0;
    margin: 0;
    li {
        display: inline-block;
        font-family: $font-body;
        text-align: center;
        font-size: 30px;
        list-style-type: none;
        padding: 0 30px;
        margin: 0;
        span {
             display: block;
            font-size: 100px;
            font-family: $font-header;
            color: $green; 
        }
    }
    .divider {
        display: block;
        font-size: 100px;
        font-family: $font-header;
        color: $green;
    }
}

.emoji {
  display: none;
  padding: 1rem;
}

.emoji span {
  font-size: 4rem;
  padding: 0 .5rem;
}

footer {
    display: flex;
    justify-content: center;
    background: $blue;
    padding: 40px 0;
    margin: 0;
    .footer-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
        img {
            width: 200px;
            margin: 0 auto;
            padding: 0;
        }
        a {
            text-align: center;
        }
        .data {
            color: $white;
            opacity: .5;
            font-size: 18px;
            width: 60%;
            text-align: center;
            margin: 0 auto;
            padding: 40px 0;
        }
        hr {
            width: 100%;
            height: 1px;
            color: $white;
            background: $white;
            border: none;
            padding: 0;
            margin: 0;
        }
        .copyright {
            color: $white;
            font-size: 18px;
            padding: 40px 0 0 0;
            margin: 0;
            text-align: center;
        }
    }
}

.faq-section {
    display:flex;
    padding: 100px 0;
    margin: 0;
    .faq-content {
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 0;
        .faq-contact-box {
            padding: 20px;
            margin: 0;
            background: $green;
            color: $white;
            border-radius: 6px;
            width: 25%;
            height: 100%;
            p {
                font-size: 24px;
                padding: 0 0 20px 0;
                margin: 0;
            }
            .contact {
                display: flex;
                align-items: center;
                padding: 5px 0;
                margin: 0;
                p {
                    font-size: 18px;
                    padding: 0;
                    margin: 0;
                }
                img {
                    padding-right: 10px;
                }
            }
        }
    }
}

.questions {
    width: 100%;
}

.faq-question {
    background-color: white;
    color: black;
    border-radius: 20px;
    box-shadow: 0 5px 10px 0 rgb(0,0,0,0.10);
    margin: 20px 0;
    &:hover {
    background: $green;
    color: $white;
}
}

.question {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 20px 80px 20px 20px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.question::after {
  content: "\002B";
  font-size: 2.2rem;
  position: absolute;
  right: 20px;
  transition: 0.2s;
}

.question.active::after {
  transform: rotate(45deg);
}

.answercont {
  max-height: 0;
  overflow: hidden;
  transition: 0.3s;
}

.answer {
  padding: 0 20px 20px;
  line-height: 1.5rem;
}

.travel-header {
    background-image: url('/images/travel-bg.jpg');
    background-color: $blue;
    background-size: cover;
    background-position: top left;
}

.trip-extensions-header {
    background-image: url('/images/trip-extensions-bg.jpg');
    background-color: $blue;
    background-size: cover;
    background-position: top left;
}

.accommodations-header {
    background-image: url('/images/accommodations-bg.jpg');
    background-color: $blue;
    background-size: cover;
    background-position: top left;
}

.destination-header {
    background-image: url('/images/destination-bg.jpg');
    background-color: $blue;
    background-size: cover;
    background-position: top left;
}

.dining-header {
    background-image: url('/images/dining-bg.jpg');
    background-color: $blue;
    background-size: cover;
    background-position: top left;
}

.faq-header {
    background-image: url('/images/faq-bg.jpg');
    background-color: $blue;
    background-size: cover;
    background-position: top left;
}

.agenda-header {
    background-image: url('/images/agenda-bg.jpg');
    background-color: $blue;
    background-size: cover;
    background-position: top left;
}


.trip-extensions-content {
    display: flex;
    padding: 100px 0;
    margin: 0;
    .hotel-extension {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left {
            width: 47%;
            img {
                width: 100%;
            }
        }
        .right {
            width: 50%;
            h2 {
                font-size: 36px;
                padding: 0 0 20px 0;
                margin: 0;
            }
            p {
                font-size: 20px;
                padding: 0;
                margin: 0;
            }
        }
    }
    .transportation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left {
            width: 50%;
            h2 {
                font-size: 36px;
                padding: 0 0 20px 0;
                margin: 0;
            }
            p {
                font-size: 20px;
                padding: 0 0 20px 0;
                margin: 0;
            }
        }
        .right {
            width: 47%;
            img {
                width: 100%;
            }
        }
    }
    .considerations {
        background: $blue;
        border: 10px solid $green;
        color: $white;
        text-align: center;
        padding: 20px;
        margin: 50px 0;
        img {
            width: 300px;
            padding-bottom: 20px;
            margin: 0;
        }
        h2 {
            font-size: 36px;
            color: $white;
            padding: 0 0 20px 0;
            margin: 0;
        }
        p {
            font-size: 20px;
            padding: 0;
            margin: 0;
        }
        .madison {
            padding: 0 0 10px 0;
            margin: 0;
        }
    }
}

.accommodation-section {
    display: flex;
    padding: 100px 0;
    margin: 0;
    .accommodation-content {
        width: 100%;
        img {
            width: 100%;
        }
        .img1 {
            padding-bottom: 100px;
        }
    }
}







.tabs {
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  background: white;
  border-radius: 5px;
}
.tabs input[name=tab-control] {
  display: none;
}
.tabs .content section h2,
.tabs ul li label {
    font-family: $font-body;
    font-weight: 700;
    font-size: 18px;
    color: $blue;
}
.tabs ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}
.tabs ul li {
  box-sizing: border-box;
  flex: 1;
//   width: 25%;
  padding: 0 10px;
  text-align: center;
}
.tabs ul li label {
    display: flex !important;
    justify-content: center;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
    color: $blue;
    padding: 5px auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.tabs ul li label br {
  display: none;
}
.tabs ul li label svg {
  fill: $blue;
  height: 5em;
  vertical-align: bottom;
  margin-right: 0.2em;
  transition: all 0.2s ease-in-out;
}
.tabs ul li label:hover, .tabs ul li label:focus, .tabs ul li label:active {
  outline: 0;
  color: $green;
}
.tabs ul li label:hover svg, .tabs ul li label:focus svg, .tabs ul li label:active svg {
  fill: $green;
}
.tabs .slider2 {
  position: relative;
  width: 25%;
  transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
}
.tabs .slider2 .indicator {
  position: relative;
  width: 50px;
  max-width: 100%;
  margin: 0 auto;
  height: 4px;
  background: $green;
  border-radius: 1px;
}
.tabs .content {
  margin-top: 30px;
}
.tabs .content section {
  display: none;
  -webkit-animation-name: content;
          animation-name: content;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  line-height: 1.4;
}
.tabs .content section h2 {
  color: $blue;
  display: none;
}
.tabs .content section h2::after {
  content: "";
  position: relative;
  display: block;
  width: 30px;
  height: 3px;
  background: $green;
  margin-top: 5px;
  left: 1px;
}
.tabs input[name=tab-control]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
  cursor: default;
  color: $green;
}
.tabs input[name=tab-control]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label svg {
  fill: $green;
}
@media (max-width: 722px) {
  .tabs input[name=tab-control]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
    background: none;
  }
}
.tabs input[name=tab-control]:nth-of-type(1):checked ~ .slider2 {
  transform: translateX(-17%);
}
.tabs input[name=tab-control]:nth-of-type(1):checked ~ .content > section:nth-child(1) {
  display: block;
}
.tabs input[name=tab-control]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
  cursor: default;
  color: $green;
}
.tabs input[name=tab-control]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label svg {
  fill: $green;
}
@media (max-width: 722px) {
  .tabs input[name=tab-control]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
    background: none;
  }
}
.tabs input[name=tab-control]:nth-of-type(2):checked ~ .slider2 {
  transform: translateX(50%);
}
.tabs input[name=tab-control]:nth-of-type(2):checked ~ .content > section:nth-child(2) {
  display: block;
}
.tabs input[name=tab-control]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label {
  cursor: default;
  color: $green;
}
.tabs input[name=tab-control]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label svg {
  fill: $green;
}
@media (max-width: 722px) {
  .tabs input[name=tab-control]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label {
    background: none;
  }
}
.tabs input[name=tab-control]:nth-of-type(3):checked ~ .slider2 {
  transform: translateX(117%);
}
.tabs input[name=tab-control]:nth-of-type(3):checked ~ .content > section:nth-child(3) {
  display: block;
}
.tabs input[name=tab-control]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label {
  cursor: default;
  color: $green;
}
.tabs input[name=tab-control]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label svg {
  fill: $green;
}
@media (max-width: 722px) {
  .tabs input[name=tab-control]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label {
    background: none;
  }
}
.tabs input[name=tab-control]:nth-of-type(4):checked ~ .slider2 {
  transform: translateX(184%);
}
.tabs input[name=tab-control]:nth-of-type(4):checked ~ .content > section:nth-child(4) {
  display: block;
}

.tabs input[name=tab-control]:nth-of-type(5):checked ~ ul > li:nth-child(5) > label {
  cursor: default;
  color: $green;
}
.tabs input[name=tab-control]:nth-of-type(5):checked ~ ul > li:nth-child(5) > label svg {
  fill: $green;
}
@media (max-width: 722px) {
  .tabs input[name=tab-control]:nth-of-type(5):checked ~ ul > li:nth-child(5) > label {
    background: none;
  }
}
.tabs input[name=tab-control]:nth-of-type(5):checked ~ .slider2 {
  transform: translateX(250%);
}
.tabs input[name=tab-control]:nth-of-type(5):checked ~ .content > section:nth-child(5) {
  display: block;
}

.tabs input[name=tab-control]:nth-of-type(6):checked ~ ul > li:nth-child(6) > label {
  cursor: default;
  color: $green;
}
.tabs input[name=tab-control]:nth-of-type(6):checked ~ ul > li:nth-child(6) > label svg {
  fill: $green;
}
@media (max-width: 722px) {
  .tabs input[name=tab-control]:nth-of-type(6):checked ~ ul > li:nth-child(6) > label {
    background: none;
  }
}
.tabs input[name=tab-control]:nth-of-type(6):checked ~ .slider2 {
  transform: translateX(317%);
}
.tabs input[name=tab-control]:nth-of-type(6):checked ~ .content > section:nth-child(6) {
  display: block;
}

@-webkit-keyframes content {
  from {
    opacity: 0;
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes content {
  from {
    opacity: 0;
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@media (max-width: 1000px) {
  .tabs ul li label {
    white-space: initial;
  }
  .tabs ul li label br {
    display: initial;
  }
  .tabs ul li label svg {
    height: 5em;
  }
}
.agenda-main {
    display:flex;
    padding: 100px 0;
    margin: 0;
    .agenda-title {
        padding-bottom: 50px;
        margin: 0;
        p {
            font-size: 20px;
            text-align: center;
        }
    }
    .agenda-section {
        padding: 50px 0;
        margin: 0;
        .agenda-content {
            display:flex;
            align-items: center;
            justify-content: center;
            padding: 10px 0;
            margin: 0;
            img {
                width: 50px;
                padding-right: 25px;
            }
        }
    }
}

.day {
    font-size: 18px;
    padding-top: 10px;
}

.date {
    font-size: 14px;
    padding-top: 5px;
}


.activities-body {
  display: flex;
  padding: 100px 0;
  margin: 0;
  .activity-after-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .activity {
      max-width: 675px;
      padding: 0;
      margin: 0 0 50px 0;
      .activity-img {
        width: 100%;
        padding: 0;
        margin: 0;
        img {
          width: 100%;
          padding: 0;
          margin: 0;
          border: 5px solid $green;
        }
      }
      .activity-copy {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        background: $white;
        position: relative;
        padding: 20;
        margin: -50 auto 0 auto;
        border: 5px solid $blue;
        p {
          padding: 0;
          margin: 0;
        }
        .activity-title {
          font-size: 24px;
          font-weight: 700;
          padding-bottom: 20px;
        }
        .hours {
          padding: 10px 0 0 0;
          margin: 0;
          .title {
            font-weight: 700;
            text-align: center;
          }
          .hours-split {
            display: flex;
            justify-content: space-between;
            padding: 5px;
            .left {
              font-weight: 700;
            }
          }
          .color {
            background: #f4f4f4;
          }
        }
      }
    }
  }
}

.pre-footer {
  display: flex;
  img {
    width: 100%;
  }
}

.travel-info {
  display: flex;
  padding: 100px 0;
  margin: 0;
  h2 {
    text-align: center;
  }
  .travel-boxes {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    .box2 {
      width: 100%;
      border: 5px solid $green;
      padding: 20px;
      margin: 10px;
      .title {
        font-weight: 700;
        font-size: 24px;
        text-align: center;
        padding-bottom: 20px;
      }
      .content {
        text-align: center;
      }
      p {
        padding: 0;
        margin: 0;
      }
    }
    .box {
      width: 45%;
      border: 5px solid $green;
      padding: 20px;
      margin: 10px;
      .title {
        font-weight: 700;
        font-size: 24px;
        text-align: center;
        padding-bottom: 20px;
      }
      .content {
        text-align: center;
      }
      p {
        padding: 0;
        margin: 0;
      }
    }
  }
}


@media (min-width: 722px) {
  .mobile-open {
    display: none;
  }
}


@media (max-width: 722px) {
  .slider {
      display: flex;
    flex-direction: column;
    .container {
      width: 90%;
    }
    .mobile-open {
      display: flex;
      justify-content: space-between;
      p {
        color: $white;
        padding: 0;
        margin: 0;
        font-size: 50px;
        cursor: pointer;
      }
      img {
        width: 150px;
      }
    }
  }
    .faq-header {
      display: flex;
    flex-direction: column;
    .container {
      width: 90%;
    }
    .mobile-open {
      display: flex;
      justify-content: space-between;
      p {
        color: $white;
        padding: 0;
        margin: 0;
        font-size: 50px;
        cursor: pointer;
      }
            img {
        width: 150px;
      }
    }
  }
    .trip-extensions-header {
      display: flex;
    flex-direction: column;
    .container {
      width: 90%;
    }
    .mobile-open {
      display: flex;
      justify-content: space-between;
      p {
        color: $white;
        padding: 0;
        margin: 0;
        font-size: 50px;
        cursor: pointer;
      }
            img {
        width: 150px;
      }
    }
  }
      .accommodations-header {
      display: flex;
    flex-direction: column;
    .container {
      width: 90%;
    }
    .mobile-open {
      display: flex;
      justify-content: space-between;
      p {
        color: $white;
        padding: 0;
        margin: 0;
        font-size: 50px;
        cursor: pointer;
      }
            img {
        width: 150px;
      }
    }
  }
        .destination-header {
      display: flex;
    flex-direction: column;
    .container {
      width: 90%;
    }
    .mobile-open {
      display: flex;
      justify-content: space-between;
      p {
        color: $white;
        padding: 0;
        margin: 0;
        font-size: 50px;
        cursor: pointer;
      }
            img {
        width: 150px;
      }
    }
  }
          .agenda-header {
      display: flex;
    flex-direction: column;
    .container {
      width: 90%;
    }
    .mobile-open {
      display: flex;
      justify-content: space-between;
      p {
        color: $white;
        padding: 0;
        margin: 0;
        font-size: 50px;
        cursor: pointer;
      }
            img {
        width: 150px;
      }
    }
  }
            .destination-header {
      display: flex;
    flex-direction: column;
    .container {
      width: 90%;
    }
    .mobile-open {
      display: flex;
      justify-content: space-between;
      p {
        color: $white;
        padding: 0;
        margin: 0;
        font-size: 50px;
        cursor: pointer;
      }
            img {
        width: 150px;
      }
    }
  }
              .dining-header {
      display: flex;
    flex-direction: column;
    .container {
      width: 90%;
    }
    .mobile-open {
      display: flex;
      justify-content: space-between;
      p {
        color: $white;
        padding: 0;
        margin: 0;
        font-size: 50px;
        cursor: pointer;
      }
            img {
        width: 150px;
      }
    }
  }
                .travel-header {
      display: flex;
    flex-direction: column;
    .container {
      width: 90%;
    }
    .mobile-open {
      display: flex;
      justify-content: space-between;
      p {
        color: $white;
        padding: 0;
        margin: 0;
        font-size: 50px;
        cursor: pointer;
      }
            img {
        width: 150px;
      }
    }
  }
  header .showcase-content a {
    color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
    background: rgb(42, 147, 110);
    text-decoration: none;
    border-radius: 6px;
    margin: 0px;
    padding: 20px;
}
  .main-nav {
    display: none !important;
  }
  #navbar {
    display: none !important;
  }
  .tabs ul li label {
    padding: 5px;
    border-radius: 5px;
  }
.tabs .slider2 {
    display: none;
  }
  .tabs .content {
    margin-top: 20px;
  }
  .tabs .content section h2 {
    display: block;
  }
  .trip-inclusions {
    flex-direction: column;
    .trip-img {
      width: 100%;
    }
    img {
      padding-right: 0 !important;
      padding-bottom: 25px;
      width: 100%;
    }

  }
  .hotel {
    flex-direction: column-reverse;
    img {
      padding-bottom: 25px;
      padding-left: 0 !important;
      width:100%;
    }
  }
  .main-content .trip-inclusions .trip-img {
    width: 100%;
  }
  .main-content .trip-inclusions .trip-content {
    width: 100%;
}
.main-content .hotel .hotel-img {
    width: 100%;
}
.main-content .hotel .hotel-content {
    width: 100%;
}
#countdown ul {
    display: flex
;
    align-items: center;
    justify-content: center;
    padding: 0 0 70px 0;
    margin: 0;
    flex-direction: column;
}
#countdown .divider {
    display: none;
    font-size: 50px;
    font-family: "Abril Fatface", serif;
    color: #2A936E;
}
header .showcase-content h1 {
    font-size: 40px;
    color: #ffffff;
    font-weight: 400;
    padding: 0 0 20px 0;
    margin: 0;
}
.main-content .congratulations h2 {
    font-size: 46px;
    text-align: center;
    padding-bottom: 30px;
    margin: 0;
}
.main-content .congratulations h4 {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #000000;
}
#headline {
    font-family: "Abril Fatface", serif;
    font-weight: 700;
    font-size: 36px;
    color: #28597C;
    text-align: center;
    margin: 0;
    padding: 50px 0;
}
.travel-info .travel-boxes {
  width: 83%;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    flex-direction: column;
}.travel-info .travel-boxes .box {
    width: 100%;
    border: 5px solid #2A936E;
    padding: 20px;
    margin: 10px;
}
.trip-extensions-content .hotel-extension {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.trip-extensions-content .transportation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
}
.trip-extensions-content .transportation .left {
    width: 100%;
    padding-top: 25px;
}
.trip-extensions-content .transportation .right {
    width: 100%;
}
.trip-extensions-content .hotel-extension .left {
    width: 100%;
}
.trip-extensions-content .hotel-extension .right {
    width: 100%;
    padding-top: 25px;
}
}

